<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.change.changesrmsback.mapper.AdminMapper">

    <insert id="insertOneAdmin">
        insert into `admin` (id, adminName, adminNickname, adminPassword, role)
        values (#{id}, #{adminName}, #{adminNickname}, #{adminPassword}, #{role})
    </insert>

    <select id="selectOneAdminByAdminName" resultType="com.change.changesrmsback.entity.Admin">
        select *
        from `admin`
        where adminName = #{adminName}
          and isDelete is false
    </select>

    <update id="updatePasswordById">
        update `admin`
        set adminPassword=#{password},
            version=version + 1
        where id = #{id}
          and version = #{version}
          and isDelete is false
    </update>

    <select id="selectAdminList" resultType="com.change.changesrmsback.entity.Admin">
        SELECT id, adminName, adminNickname, role, version
        FROM `admin`
        WHERE isDelete IS FALSE
        <if test="query != null and query != ''">
            AND (adminName LIKE #{query} OR adminNickname LIKE #{query})
        </if>
        <if test="page.pageStart != null and page.pageSize != null">
            limit #{page.pageStart}, #{page.pageSize}
        </if>
    </select>

    <select id="selectAdminCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `admin`
        WHERE `isDelete` is FALSE
        <if test="query != null and query != ''">
            AND (adminName LIKE #{query} OR adminNickname LIKE #{query})
        </if>
    </select>

    <update id="updateOneAdmin">
        UPDATE `admin`
        SET `adminNickname`=#{adminNickname},
            `role`=#{role},
            version=version + 1
        WHERE `id` = #{id}
          and version = #{version}
          AND `isDelete` IS FALSE
    </update>

    <update id="deleteOneAdmin">
        UPDATE `admin`
        SET `isDelete`= TRUE,
            version=version + 1
        WHERE `id` = #{id}
          and version = #{version}
          AND `isDelete` IS FALSE
    </update>

</mapper>